
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding="">
    <ion-row>
      <ion-col col-4 col-sm-3 col-md-2 *ngFor="let tv of tvs">
        <img [src]="tv.poster_path" no-margin="" style="min-height: 100%; min-width: 100%;  margin-bottom: -4px">
        <div *ngIf="tv.poster_path.indexOf('assets') !== -1" class="centered">{{tv.name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    (ionInfinite)="loadList($event)"
    [enabled]="infiniteScrollStatus"
    threshold="90%"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

