
<ion-content style="background-color: #ff7400">
  <ion-grid no-padding="">
    <ion-row>
      <ion-col col-4 col-sm-3 col-md-2 *ngFor="let tv of tvs; let i = index" (click)="pushDetailsPage(i)" >
        <img
          [src]="'http://image.tmdb.org/t/p/w154' + tv.poster_path"
          onerror="this.src='assets/imgs/newTvPoster.jpg'"
        />
        <div *ngIf="!tv.poster_path" class="centered">{{tv.name | slice:0:40}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    (ionInfinite)="loadList($event)"
    [enabled]="infiniteScrollStatus"
    threshold="90%"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

