
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding="">
    <ion-row>
      <ion-col col-4 col-md-3 col-xl-2 *ngFor="let movie of movies">
        <img src="{{movie.poster_path}}" no-margin="" style="min-height: 100%; min-width: 100%">
        <div *ngIf="movie.poster_path.indexOf('assets') !== -1" class="centered">{{movie.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]="infiniteScrollStatus" >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
