
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding="">
    <ion-row>
      <ion-col col-4 col-sm-3 col-md-2 *ngFor="let movie of movies" (click)="pushDetailsPage()">
        <img [src]="movie.poster_path"/>
        <div *ngIf="movie.poster_path.indexOf('assets') !== -1" class="centered">{{movie.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    [enabled]="infiniteScrollStatus"
    (ionInfinite)="loadList($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
