<ion-header>
  <ion-navbar color="orangeMain">
    <ion-buttons left="">
      <ion-searchbar
        [animated]="true"
        (ionInput)="searchValue($event)"
        (ionClear)="emptyValue()"
        [debounce]="300"
      ></ion-searchbar>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 4px">
    <ion-item *ngFor="let result of resultArr; let i = index" style="padding-left: 8px" text-wrap="" (click)="pushDetailsPage(i)">
      <ion-thumbnail item-start style="margin: 4px 16px 4px 0; min-width: 60px">
        <img-loader
          [useImg]="true"
          *ngIf="result.media_type === 'movie'"
          [src]="'http://image.tmdb.org/t/p/w154' + result.poster_path"
          fallback="assets/imgs/movieposter.jpg"
          [fallbackAsPlaceholder]="true">
        </img-loader>
        <img-loader
          [useImg]="true"
          *ngIf="result.media_type === 'tv'"
          [src]="'http://image.tmdb.org/t/p/w154' + result.poster_path"
          fallback="assets/imgs/tvposter.jpg"
          [fallbackAsPlaceholder]="true">
        </img-loader>
        <img-loader
          [useImg]="true"
          *ngIf="result.media_type === 'person'"
          [src]="'http://image.tmdb.org/t/p/w154' + result.profile_path"
          fallback="assets/imgs/peopleposter.jpg"
          [fallbackAsPlaceholder]="true">
        </img-loader>

      </ion-thumbnail>
      <span class="title">{{result.media_type}}</span>
      <span *ngIf="result.release_date" class="year">&nbsp;&nbsp;{{result.release_date.substr(0,4)}}</span>
      <span *ngIf="result.first_air_date" class="year">&nbsp;&nbsp;{{result.first_air_date.substr(0,4)}}</span>
      <p *ngIf="result.title">  {{result.title}}</p>
      <p *ngIf="result.name">  {{result.name}}</p>
    </ion-item>
  </ion-list>
</ion-content>







